<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home - Inside Light</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>Insight inside Light</h1>
    </header>

    <nav>
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#music">Music</a>
        <a href="#contact">Contact</a>
    </nav>

    <!-- Hero Section with Background Image -->
    <section class="hero">
        <h1>Shine Your Light</h1>
    </section>

    <section class="content" id="about">
        <h2>Our Offerings</h2>
        <div class="section">
            <div>
                <h3>Inspiring Music</h3>
                <p>Explore our collection of uplifting and inspiring music that will brighten your day.</p>
                <a href="#" class="btn">Listen Now</a>
            </div>
            <div>
                <h3>Community Stories</h3>
                <p>Read heartwarming stories from our community, sharing their journey of hope and light.</p>
                <a href="#" class="btn">Discover More</a>
            </div>
            <div class="section">
                <div>
                    <h3>Join Us</h3>
                    <p>Be a part of our vibrant community. Join us in spreading positivity and light.</p>
                    <!-- Only one link should be present -->
                    <a href="https://chat.whatsapp.com/J2y7ZxW6Eg52pX9SAZfcu0" class="btn" target="_blank">Join Now</a>
                </div>
            </div>
            
        </div>
    </section>

    <footer>
                                        <p>&copy; 2024 Inside Light. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
